
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<div style="padding-top:200px">
<h2 style="color:red"> Thông Báo !!! </h2>
    <p>Nếu tài khoản có email được cung cấp tồn tại, bạn sẽ nhận được email có liên kết để đặt lại mật khẩu của mình.</p>
</div>