@model WebBanHang.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>ForgotPassword</h1>

<p>Enter your email to reset your password</p>
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
