
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>ForgotPasswordConfirmation</h1>

<div style="padding-top:200px">
<h2>Forgot Password Confirmation</h2>
<p>If an account with the provided email exists, you will receive an email with a link to reset your password.</p>
</div>