@model WebBanHang.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<div class="container mt-5 d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg">
        <div class="card-body text-center">
            <h2 class="text-success mb-4">
                <i class="fas fa-check-circle"></i> Thay đổi mật khẩu thành công!
            </h2>
            <p class="lead">
                Mật khẩu đã được thay đổi.
                <hr />
                Bạn có thể đăng nhập với mật khẩu mới của bạn.
            </p>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary mt-2">Đăng Nhập</a>
        </div>
    </div>
</div>
