@model WebBanHang.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<div style="padding-top:100px">

<h2>Thay đổi mật khẩu </h2>
    <p>Mật khẩu đã được thay đổi .<br></br> Bạn có thể  <a asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a> với mật khẩu mới của bạn.</p>
</div>