@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container mt-5 d-flex justify-content-center" style="padding-top:200px;">
    <div class="card p-4 mt-3">
        <h2>Lỗi đã xảy ra</h2>
        <p>Xin lỗi quý khách!</p>
        <div class="last d-flex align-items-center mt-3">
            <a href="~/Home/Index" class="btn btn-secondary cart-btn-transform m-3" data-abc="true">Quay về mua sắm</a>
        </div>
    </div>
</div>
