
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>ResetPasswordConfirmation</h1>
<h2>Reset Password Confirmation</h2>
<p>Your password has been reset. You can now <a asp-controller="Account" asp-action="Login">log in</a> with your new password.</p>
