@model WebBanHang.Models.Discount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var cultureInfo = new System.Globalization.CultureInfo("vi-VN");
}
<div class="left-side-bar">
    <div class="brand-logo">

        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a asp-action="Index" asp-controller="Statics" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-dashboard"></span><span class="mtext">Thống kê</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/UserModel" class="dropdown-toggle no-arrow ">
                        <span class="micon fa fa-users"></span><span class="mtext">Quản lí tài khoản</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Customer" class="dropdown-toggle no-arrow  ">
                        <span class="micon fa fa-users"></span><span class="mtext">Khách hàng</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Staff" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-users"></span><span class="mtext">Nhân viên</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Supplier" class="dropdown-toggle no-arrow ">
                        <span class="micon fa fa-handshake-o"></span><span class="mtext">Nhà cung cấp</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Discounts" class="dropdown-toggle no-arrow active">
                        <span class="micon fa fa-th me-2"></span><span class="mtext">Mã giảm giá</span>
                    </a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Category" class="dropdown-toggle no-arrow ">
                        <span class="micon fa fa-th me-2"></span><span class="mtext">Danh mục</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Subcategories" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-th me-2"></span><span class="mtext">Danh mục con</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Add" asp-controller="Product" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-cubes"></span><span class="mtext">Nhập hàng</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Product" class="dropdown-toggle no-arrow">
                        <span class="micon fa fa-cubes"></span><span class="mtext">Kho</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Order" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-invoice"></span><span class="mtext">Hóa đơn</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>


<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">

        <div class="row clearfix progress-box">
            <div class="col-lg-12">
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header">Thông tin chi tiết</h5>
                        <div class="card-body">

                            <form id="formValidationExamples" class="row g-3">

                                <input type="hidden" asp-for="DiscountId" /> <input type="hidden" asp-for="DiscountId" />

                                <div class="col-md-6">
                                    <dt class="form-label">
                                        <label class="" for="formValidationName">Mã</label>
                                    </dt>
                                    <dd class="col-sm-10 boder">
                                        @Html.DisplayFor(model => model.Code)
                                    </dd>
                                </div>
                                <div class="col-md-6">
                                    <dt class="form-label">
                                        <label class="" for="formValidationName">Loại</label>
                                    </dt>
                                    @if (Model.Type.ToString() == "Percentage")
                                    {
                                    <a href="#" class="text-body">Phần trăm</a>
                                    }
                                    else
                                    {
                                    <a href="#" class="text-body">Số tiền</a>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <dt class="form-label">
                                        <label class="" for="formValidationName">Giá trị</label>
                                    </dt>
                                    @if (Model.Type.ToString() == "Percentage")
                                    {
                                        <a href="#" class="text-body">@Model.Value %</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="text-body">@Model.Value.ToString("C", cultureInfo)</a>
                                    }
                                </div>
                                <div class="col-12">
                                    <button type="submit" name="submitButton" class="btn btn-primary text-white button"><a asp-action="Index" class=" text-white button"> Quay về danh sách</a></button>
                                    <button type="submit" name="submitButton" class="btn btn-primary text-white button"><a asp-action="Edit" class=" text-white button" asp-route-id="@Model?.DiscountId"> Chỉnh sửa</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
