@* @page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHang.Areas.Admin.Pages.banedModel
@{
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap" style="padding-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Khóa tài khoản?</h2>
                            <p>Bạn có chắc muốn khóa tài khoản này không?</p>
                            <div class="panel-body">
                                <form method="post">
                                    <div class="form-group" style="padding-top:15px">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input asp-for="Email" placeholder="Email" value="@Model.Email" class="form-control" type="email">
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group" style="padding-top:5px">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone color-blue"></i></span>
                                        <input asp-for="Phone" placeholder="Email" value="@Model.Phone" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top:5px">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker color-blue"></i></span>
                                        <input asp-for="Address" placeholder="Email" value="@Model.Address" class="form-control" type="email">
                                    </div>
                                </div>
                                <form method="post">
                                    <div class="button-container" style="padding-top:30px">

                                        <input type="submit" value="Khóa" class="btn btn-danger" />
                                        <a href="./UserModel" class="btn btn-warning">Hủy</a>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .button-container {
        display: flex;
        gap: 10px; 
        justify-content: center; 
    }

        .button-container .btn {
            flex: 1; 
            text-align: center; 
            display: inline-block;
        }
</style> *@