
@{
    ViewData["Title"] = "BaiTap2";
}

<h1>BaiTap2</h1>
<div>
    <h3>
        @Model.TenSP
    </h3>

    <h5>
       Price:  @Model.GiaSP $
    </h5>
    <p>
        <img src="@Model.AnhMoTa" alt="Chanel Allure Homme Sport – 100ml EDT"/>
    </p>
    <h3>2 - Chi tiết sản phẩm</h3>
    <pre>
        <b>Mã hàng                110100200073
        Thương hiệu            Chanel
        Xuất xứ                Pháp
        Năm phát hành          2004
        Nhóm hương             Cam đỏ, Hương biển, An-đê-hít
        Phong cách             Tinh tế, Nam tính, Tươi mát, Hiện đại</b>

        Hương đầu: Quả cam, Quả quýt, Hương biển, Aldehydes.
        Hương giữa: Tiêu đen, Hoa cam Neroli, Gỗ tuyết tùng.
        Hương cuối: Đậu Tonka, Vanilla, Xạ hương trắng, Nhựa hổ phách, Cỏ hương bài, Nhựa Elemi.

        Allure Homme Sport được tạo ra để tôn vinh những nét đẹp mạnh mẽ, phóng khoáng cùng tinh thần không đầu hàng, không bỏ cuộc của thể thao. Được thiết kế lại từ người anh Allure Homme đi trước, thêm thắt và điều chỉnh lại những yếu tố phù hợp với chủ đề “Sport”, Chanel Allure Homme Sport Eau de Toilette đích thực là một mùi hương thể thao sảng khoái.

        Mở đầu với hương thơm dễ chịu tươi lành của Cam và Quýt, mọng nước, được tăng cường thêm sự hào hứng phóng khoáng bằng nốt hương Biển và Aldehydes. Hoa cam nhè nhẹ, mơn man, òa vào khứu giác ta nhờ sự kích thích của Tiêu đen, càng làm nổi bật cái nam tính trong Chanel Allure Homme Sport. Về hậu, mùi hương thu gần phạm vi tỏa hương lại, đồng thời được làm dày và có chiều sâu hơn bởi Xạ hương trắng, cùng vị ngọt ngào của Đậu Tonka.

        Chanel Allure Homme Sport được yêu thích và đón nhận ngay từ những ngày đầu ra mắt, và trải qua gần 20 năm, mùi hương đến từ Chanel vẫn được lòng nam giới để lựa chọn mùi hương dấu ấn cho riêng mình.

    </pre>
</div>
