@model IEnumerable<WebBanHang.Models.Subcategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="padding-top:100px">
<h1>Danh mục phụ</h1>

<a asp-action="Create" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="bi bi-plus-square-fill"></i> Tạo mới</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tên danh mục phụ</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Tên danh mục</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>