@* @model List<WebBanHang.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
<h1>Subcategories</h1>

@foreach (var category in Model)
{
    <h3>@category.Name</h3>
    <ul>
        @foreach (var subcategory in category.Subcategories)
        {
            <li>
                @subcategory.Name
                <a href="@Url.Action("EditSubcategory", "Subcategory", new { categoryId = category.Id, subcategoryId = subcategory.Id })">Edit</a>
                <a href="@Url.Action("DeleteSubcategory", "Subcategory", new { categoryId = category.Id, subcategoryId = subcategory.Id })">Delete</a>
            </li>
        }
    </ul>
}
</div> *@