@model int

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div style="padding-top:200px; padding-left:50px">
<h2>Đặt Hàng Thành Công</h2>
<p>Bạn đã đặt hàng thành công với ID @Model.</p>
</div>